/* css part for my portfolio */
/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    /* border: 0; */
    border: 1px solid black;
}

* {
    box-sizing: border-box;
}

/* border design */
div {
  border-radius: 0.5;
}

/* main body layout */
body {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* normal rank units  */
#normal > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#normal button {
  flex-basis: 40%;
}

#normal label {
  flex-grow: 1;
  text-align: center;
}
